.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chatHeader {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
}

.chatMessages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chatMessages ul {
    list-style-type: none;
    padding: 0;
}

.chatMessage {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
}

.chatMessageSelf {
    background-color: #daf8cb;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
}

.chatMessageOther {
    background-color: #007BFF;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
    color: white;
}

.chatBot {
    background-color: #e5e5e5;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
    color: black;
}

.chatSender {
    font-weight: bold;
}



.chatInput {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

.chatInput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.chatInput button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.chatInput button:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 480px) {
    .chatContainer {
        height: 90vh;
    }

    .chatHeader h2, .chatHeader h3 {
        font-size: 12px;
    }

    .chatInput input {
        font-size: 10px;
    }

    .chatInput button {
        padding: 5px;
        font-size: 12px;
    }
}

.roomContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.roomCard {
    display: flex;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s;
}

.roomCard:hover {
    transform: translateY(-5px);
}

.roomImage {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.roomContent {
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.roomTitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.roomDescription {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.roomLink {
    display: inline-block;
    padding: 8px 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: auto;
}

.roomLink:hover {
    background-color: #0056b3;
}

