.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 80vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chatHeader {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
}

.chatMessages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.chatMessages ul {
    list-style-type: none;
    padding: 0;
}

.chatMessage {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
    display: inline-block;
}

.chatMessageSelf {
    background-color: #daf8cb;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
}

.chatMessageOther {
    background-color: #007BFF;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
    color: white;
}

.chatBot {
    background-color: #e5e5e5;
    text-align: left;
    width: 100%;
    justify-content: flex-start;
    color: black;
}

.chatSender {
    font-weight: bold;
}



.chatInput {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
}

.chatInput input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.chatInput button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.chatInput button:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 480px) {
    .chatContainer {
        height: 90vh;
    }

    .chatHeader h2, .chatHeader h3 {
        font-size: 12px;
    }

    .chatInput input {
        font-size: 10px;
    }

    .chatInput button {
        padding: 5px;
        font-size: 12px;
    }
}
